* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #dee2e6;
}

.table thead th:last-child,
.table tbody tr td:last-child {
  text-align: center;
}

.table tbody tr td {
  border-bottom: 1px solid #dee2e6;
}

.table thead th:first-child,
.table thead th:first-child > input,
.table tbody tr td:first-child,
.table tbody tr td:first-child > input {
  cursor: pointer;
}

.table td,
.table th {
  padding: 0.9rem;
  vertical-align: top;
  text-align: left;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: rgb(221 224 224);
}
